@charset "utf-8";

html {
    height: 100%;
}

body {
    font-size: 0.7rem;

}
/* header */
header {
    background:#3C4767;
}

#head {
    position: relative;
}

#menu {
    color: white;
    position: absolute;
}

#menu {
    right:2%;
    top:20%;
}

#menu a {
    text-decoration: none;
    font-size: 0.7rem;
}

#user p {
    display: inline;
    right:20%;
    top:20%;
    color: white;
    text-decoration: none;
}

#head h1 img {
    width: 10%;
}

.red {
    background-color: #ff6347;
}

.red a {
    color: white;
}

.white {
    background-color: white;
}

.white a {
    color: black;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}
#container {
    flex: 0 0 80%;
}
#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

.upform {
    display:none;
    position: fixed;
    top:40%;
    left: 38%;
    background-color: #dcdcdc;
    height: 30%;
    width: 20%;
    border: 1px ;
    z-index: 5;
}

.upform input {
    margin-top: 45px;
    margin-left: 25px;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}


#side-bar #confirm .btn {
    text-align: right;
    margin-bottom: 20px;
}

#side-bar .btn a {
    background-color: #3C4767 ;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#confirm {
    padding: 10px 10px;
    border-bottom: 1px solid #6C6C6C;
}

#confirm p {
    padding-bottom: 10px;
}

.search {
    text-align: center;
    margin-top: 50px;
}

.icon {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    height: 50px;
    width: 50px;
}

#menu ul {
    display: none;
}

#menu ul li {
    height: 40px;
    width: 100px;
    border: 1px solid #dcdcdc;
    list-style-type: none;
    text-align: center;
}

#menu ul li a {
    line-height: 40px;
}

.form-control {
    border:none;
    height: 2.5rem;
    width: 50rem;
    outline: none;
}

.post {
    border-bottom: 3px solid #dcdcdc;
    padding: 20px 0;
    margin-bottom: 20px;
}

.flex {
    display: flex;
}

.post .btn {
    background-color: white;
    border: none;
}

.timeline {
    height: 80px;
    border-bottom: 1px solid #dcdcdc;
}

table {
    border-spacing: 5px;
    width: 63rem;
}

.usersearch {
    border-bottom: 3px solid #dcdcdc;
    padding: 20px 0;
    margin-bottom: 20px;

}

.usersearch .btn {
    background-color: white;
    border: none;
}

.searchfollow, .searchunfollow {
    background-color: #1e90ff ;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.searchword {
    margin-left: 50px;
    padding-top: 30px;
}

.list {
    border-bottom: 3px solid #dcdcdc;
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
}

.followlist, .followerlist {
    font-size: 25px;
    color: #6C6C6C;
    margin: 20px 0 10px 30px;
}
